<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.unicompay.jf.model.TradeState">
	<resultMap type="com.unicompay.jf.model.TradeState" id="tradeState">  
        <result property="id" column="id"/>  
        <result property="name" column="name" />  
        <result property="extra" column="extra" />  
    </resultMap>  
    <select id="tradeStateFindAll" resultMap="tradeState">  
        select TRADE_STATUS_CODE as id,TRADE_STATUS_NAME as name from BDW_DIM.DIM_TRADE_STATUS order by TRADE_STATUS_CODE
    </select>  
    <select id="tradeStateSearch" parameterType="java.util.Map"  resultMap="tradeState">  
        select TRADE_STATUS_CODE as id,TRADE_STATUS_NAME as name from BDW_DIM.DIM_TRADE_STATUS  where (TRADE_STATUS_CODE like '%'||#{find}||'%' or DIM_TRADE_STATUS like '%'||#{find}||'%') order by TRADE_STATUS_CODE
    </select>  

</mapper>